.navbarContainer {
  display: flex;
  flex-direction: row;
  background: rgb(247, 214, 224);
  background: radial-gradient(
    circle,
    rgb(247, 214, 224) 100%,
    rgb(209, 247, 243) 120%
  );
  align-items: center;
  width: 100%;
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 999;

  .navbarLeft {
    flex: 2;
    .navbarLogo {
      font-size: 24px;
      margin-left: 20px;
      font-weight: bold;
      color: #000000;
      cursor: pointer;
    }
  }
  .navbarCenter {
    flex: 6;
    .searchBar {
      width: 100%;
      height: 30px;
      background-color: #ffffff;
      border-radius: 30px;
      display: flex;
      align-items: center;
      .searchIcon {
        font-size: 20px !important;
        margin-left: 5px;
      }
    }
    .searchInput {
      margin-left: 25px;
      position: absolute;
      top: 28%;
      z-index: 1;
      width: 39%;
      border: none;
      background-color: #ffe9e908;
      &:focus {
        outline: none;
      }
    }
  }
  .navbarRight {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #000000;
    flex: 3;
    .navbarLinks {
      .navbarLink {
        font-size: 14px;
        margin-right: 10px;
        cursor: pointer;
      }
    }
    .navbarIcons {
      display: flex;
      flex-direction: row;
      .navbarIconItem {
        margin-right: 15px;
        cursor: pointer;
        position: relative;
        .navbarIconBadge {
          width: 15px;
          height: 15px;
          background-color: red;
          border-radius: 50%;
          columns: #000000;
          position: absolute;
          top: -5px;
          right: -5px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 12px;
        }
      }
    }
    .navbarImage {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
      cursor: pointer;
    }
  }
}
